<div>
  <%= form_tag recent_tracks_url, :method => :post, :remote => true do -%>
    <%= label_tag :username, 'User: ' %>
    <%= text_field_tag :username, 'User' %>

    <%= label_tag :page, 'Page: ' %>
    <%= number_field_tag :page, 1 %>

    <%= submit_tag 'Show recent tracks', :disable_with => 'Loading...' %>
  <% end -%>
</div>
<div id='response'></div>